{% extends "@Resources/views/admin.html.twig" %}

{% block body %}
    <div class="box">
        <div class="box-body">
            {% include "@FOSUser/Profile/edit_content.html.twig" %}
        </div>
    </div>
{% endblock body %}
