{% trans_default_domain 'FOSUserBundle' %}

<table class="table table-bordered">

    <tr>
        <th>Nome</th>
        <td>{{ user.name }}</td>
    </tr>

    <tr>
        <th>Usuario</th>
        <td>{{ user.username }}</td>
    </tr>

    <tr>
        <th>Email</th>
        <td>{{ user.email }}</td>
    </tr>

</table>
