{% extends 'base.html.twig' %}

{% block body %}
    <div class="homepage">
        <div class="v-center">
            <h1>BiblioTCC</h1>
            <h2>Gerenciador de Bancas e Biblioteca de TCC</h2>

            <div class="col-sm-offset-4 col-sm-4 col-xs-offset-4 col-xs-4">
                <a href="{{ path ('project_index') }}" class="btn btn-default btn-sistema center-block">Sistema</a>
            </div>
        </div>
    </div>
{% endblock %}
