<div class="list-group">
    <a href="{{ path ('fos_user_profile_show') }}"
       class="list-group-item list-group-item-action">Meus Dados</a>
    <a href="{{ path ('fos_user_profile_edit') }}"
       class="list-group-item list-group-item-action">Alterar Dados</a>
    <a href="{{ path ('fos_user_change_password') }}"
       class="list-group-item list-group-item-action">Alterar Senha</a>
</div>